{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}ccrc Django Tutorial{% endblock head_title %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{% trans "Welcome to CCRC!" %}</h1>
    <p>{% blocktrans %}This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.{% endblocktrans %}</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 id="local-date">{{today}}</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 id="non-local-date">{{today|unlocalize}}</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Time Zones</h2>
      <p> Indianapolis: <span id="time-tz">{{now|time:"H:i"}}</span></p>
      <p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
      <p> Los Angeles: <span id="time-la">{{now|timezone:"America/Los_Angeles"|time:"H:i"}}</span></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2015</p>
  </footer>
</div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock content %}
